frontend/node_modules
frontend/build

backend/node_modules
backend/dist
backend/instant-mock.db
backend/data
backend/.env

helm/

docker-compose.yml
docker-compose.prod.yml

Dockerfile
.dockerignore
.git
.gitignore
README.md
.env
