frontend/node_modules
frontend/package-lock.json
frontend/build

backend/node_modules
backend/package-lock.json
backend/dist

docker-compose.yml
docker-compose.prod.yml

seeds.db

Dockerfile
.dockerignore
.git
.gitignore
README.md
.env
