services:
  postgres:
    image: postgres:latest
    container_name: postgres_db
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
      # instant-mock:
      #   build:
      #     context: .
      #     dockerfile: Dockerfile
      #     no_cache: true
      #   container_name: instant-mock-app
      #   environment:
      #     APOLLO_API_KEY: ${APOLLO_API_KEY}
      #     PORT: 3000
      #     POSTGRES_USER: ${POSTGRES_USER}
      #     POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      #     POSTGRES_DB: ${POSTGRES_DB}
      #     POSTGRES_HOST: ${POSTGRES_HOST}
      #     POSTGRES_PORT: ${POSTGRES_PORT}
      #   depends_on:
      #     - postgres
      #   ports:
      #     - "3000:3000"
volumes:
  pgdata:
