@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {

:root  {
  --background: 152 100% 100%;
  --foreground: 152 5% 10%;
  --card: 152 50% 100%;
  --card-foreground: 152 5% 15%;
  --popover: 152 100% 100%;
  --popover-foreground: 152 100% 10%;
  --primary: 152 35.6% 59.2%;
  --primary-foreground: 0 0% 100%;
  --secondary: 152 30% 90%;
  --secondary-foreground: 0 0% 0%;
  --muted: 114 30% 95%;
  --muted-foreground: 152 5% 40%;
  --accent: 114 30% 90%;
  --accent-foreground: 152 5% 15%;
  --destructive: 0 100% 50%;
  --destructive-foreground: 152 5% 100%;
  --border: 152 30% 82%;
  --input: 152 30% 50%;
  --ring: 152 35.6% 59.2%;
  --radius: 0.5rem;
}
.dark  {
  --background: 152 50% 10%;
  --foreground: 152 5% 100%;
  --card: 152 50% 10%;
  --card-foreground: 152 5% 100%;
  --popover: 152 50% 5%;
  --popover-foreground: 152 5% 100%;
  --primary: 152 35.6% 59.2%;
  --primary-foreground: 0 0% 100%;
  --secondary: 152 30% 20%;
  --secondary-foreground: 0 0% 100%;
  --muted: 114 30% 25%;
  --muted-foreground: 152 5% 65%;
  --accent: 114 30% 25%;
  --accent-foreground: 152 5% 95%;
  --destructive: 0 100% 50%;
  --destructive-foreground: 152 5% 100%;
  --border: 152 30% 50%;
  --input: 152 30% 50%;
  --ring: 152 35.6% 59.2%;
  --radius: 0.5rem;
}
}


@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-family: sans-serif;
  }
}

.sandbox-container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.apollo-sandbox {
  width: 100%; /* Use full width */
  height: 1000px; /* Adjust height automatically based on content */
  overflow: visible; /* Ensure no overflow is hidden or scrollable */
}

.sandbox-container {
  width: 100vw; /* Full viewport width */
  margin: 0 auto; /* Center the content if needed */
  padding: 0; /* Remove any padding that may cause overflow */
}
